.DS_Store
/.build
/Packages
xcuserdata/
DerivedData/
.swiftpm/configuration/registries.json
.swiftpm/xcode/package.xcworkspace/contents.xcworkspacedata
.netrc
.swiftpm/swift-recreationgov-api.xctestplan
.swiftpm/xcode/xcshareddata/xcschemes/swift-recreationgov-api.xcscheme
.swiftpm/xcode/xcshareddata/xcschemes/SwiftRecGovApi.xcscheme
